<!DOCTYPE html>
<html>
<head>
<title>Fauji House Login</title>
<style>
body{
 background:linear-gradient(120deg,#0f2027,#203a43,#2c5364);
 font-family:Arial;
}
.box{
 width:330px;
 margin:110px auto;
 background:white;
 padding:25px;
 border-radius:12px;
 text-align:center;
 box-shadow:0 0 20px black;
}
img{width:90px;margin-bottom:10px;}
input,button{width:100%;padding:10px;margin-top:10px;}
button{background:#203a43;color:white;border:none;}
</style>
</head>
<body>

<div class="box">
<img src="/static/logo.png">
<h2>Fauji House</h2>
<form method="POST">
<input name="username" placeholder="Username" required>
<input type="password" name="password" placeholder="Password" required>
<button>LOGIN</button>
</form>
<p style="font-size:12px;">admin / admin</p>
</div>

</body>
</html>
